/* black:#3E3D48, primary: #F9665A */

html, body {
  margin: 0;
  padding: 0;
  background: #FAF9F7;
  color: #3D3D48;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}

h1, h2, h3, p, span, a, figure, ul, li, div, figure {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: #3E3D48;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

header {
  position: fixed;
  width: calc(100% - 8vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 4vw;
  z-index: 3;
}

.logo {
  margin-top: 0.69vw;
  width: 12vw;
  min-width: 140px;
}

header > a {
  display: flex;
  align-items: center;
  padding: 16px 30px 20px;
  border-radius: 40px;
  border: 2px solid #F9665A;
  font-weight: 600;
  color: #F9665A;
  background: #FFFFFF;
}

.sp-only {
  display: none;
}

header > a > span {
  display: inline-block;
  margin-right: 10px;
  color: #F9665A;
}

@media screen and (max-width: 1020px) {
  .sp-only {
    display: block;
  }

  .pc-only {
    display: none;
  }

  .logo {
    width: 10vw;
  }

  header {
    padding: 20px 5vw;
  }

  header > a {
    margin-top: -8px;
    font-size: 14px;
    padding: 8px 16px 12px;
  }

  header > a > .material-icons {
    margin-right: 4px;
    margin-top: 4px;
    font-size: 20px;
    vertical-align: -5px;
  }
}

.wave-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wave {
  position: absolute;
  width: 150%;
  bottom: 6vw;
  left: -36vw;
  z-index: 2;
}

.mv {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 80px 6vw;
  position: relative;
  z-index: 1;
}

.mv_image {
  width: 54%;
  margin-left: -10vw;
}

.mv_text {
  width: 48%;
  margin-top: 7vw;
  margin-right: 3vw;
}

.appstore {
  display: block;
  margin-top: 2.5vw;
  width: 12vw;
}

@media screen and (max-width: 1020px) {
  .mv {
    display: block;
    padding: 88px 6vw;
  }

  .mv_text {
    width: 100%;
  }

  .mv_image {
    margin-top: -24px;
    margin-left: -29.5vw;
    width: 140%;
  }

  .appstore {
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }

  .appstore img {
    width: 50%;
  }

  .wave {
    bottom: 100vw;
  }
}

.title {
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.25em;
  font-size: 14px;
  color: #F9665A;
}

.title + * {
  margin-top: 3vw;
}

.discription {
  position: relative;
  margin-top: -8vw;
  background: #ffffff;
  z-index: 2;
}

.discription-wrapper {
  padding: 0 12vw 12vw;;
}

.discription-wrapper h1 {
  letter-spacing: 0.15em;
  font-size: 26px;
  line-height: 2.4em;
  font-weight: 500;
  text-align: center;
}

.discription-wrapper h1 span {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  background: linear-gradient(transparent 60%, #F9CBC7 30%);
  display: inline;
  padding: 0 2px 4px;
}

.discription-wrapper p {
  margin-top: 6vw;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 2.5em;
  font-weight: 400;
  text-align: center;
}

.discription-wrapper p + p {
  margin-top: 3vw;
}

.discription-wrapper p span {
  background: linear-gradient(transparent 92%, #F9CBC7 30%);
  display: inline;
  padding: 0 2px 4px;
}

@media screen and (max-width: 1020px) {
  .title {
    font-size: 12px;
  }

  .title + * {
    margin-top: 24px;
  }

  .discription {
    margin-top: -102vw;
  }

  .discription-wrapper {
    padding: 20px 6vw 80px;
  }

  .discription-wrapper h1 {
    font-size: 19px;
    letter-spacing: 0.05em;
    line-height: 2.2;
  }

  .discription-wrapper h1 span {
    font-size: 20px;
  }

  .discription-wrapper p {
    margin-top: 40px;
    letter-spacing: 0.05em;
    font-size: 15px;
    line-height: 2.3em;
    font-weight: 400;
    text-align: left;
  }

  .discription-wrapper p span {
    font-size: 14px;
  }

  .discription-wrapper p + p::before {
    top: -6.5vw;
  }
}

.merits {
  padding: 12vw 4vw 0;
}

.merits h2 {
  letter-spacing: 0.15em;
  font-size: 32px;
  line-height: 2.4em;
  font-weight: 600;
  text-align: center;
}

.merits ul {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}

.merit {
  width: 35%;
  text-align: center;
}

.merit + .merit {
  margin-left: 30px;
}

.merit span {
  font-weight: 200;
  font-size: 2.8vw;
}

.merit h3 {
  margin-top: 1.5vw;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.merit h3 span {
  font-weight: 600;
  font-size: 24px;
}

.merit p {
  margin-top: 1vw;
  letter-spacing: 0.1em;
  font-size: 15px;
  height: 46px;
}

.merit figure {
  margin: 2vw auto 0;
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .merits {
    padding: 80px 6vw 0;
  }

  .merits h2 {
    letter-spacing: 0.15em;
    font-size: 20px;
  }

  .merit{
    margin-top: 48px;
    width: 100%;
  }

  .merit span {
    font-size: 24px;
  }

  .merit + .merit {
    margin-left: 0;
  }

  .merits ul {
    display: block;
  }

  .merit h3 {
    margin-top: 16px;
  }

  .merit h3 span {
    font-size: 22px;
  }

  .merit p {
    height: auto;
    margin-top: 12px;
  }

  .merit figure {
    margin-top: 24px;
  }
}

.last {
  position: relative;
  margin-top: -10px;
  padding: 12vw 6vw 14vw;
  background-color: #FA7D73;
  overflow: hidden;
}

  .last .title {
    margin-left: 2vw;
    text-align: left;
    color: #FFFFFF;
  }

.last h2 {
  font-size: 4vw;
  color: white;
}

.last a {
  margin-top: 2vw;
  margin-left: 2vw;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  line-height: 9vw;
  border-radius: 9vw;
  font-weight: 600;
  font-size: 1.8vw;
  color: #F9665A;
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(249,102,90,0.1);
}

.last .material-icons {
  font-size: 2.8vw;
  color: #F9665A;
}

.last figure {
  width: 60vw;
  position: absolute;
  top: -15vw;
  right: -5vw;
}

@media screen and (max-width: 1020px) {

  .last {
    padding: 80px 6vw;
  }

  .last .title {
    text-align: left;
  }

  .last h2 {
    position: relative;
    font-size: 28px;
    color: white;
    z-index: 2;
  }

  .last a {
    position: relative;
    margin-top: 24px;
    width: 80%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    line-height: auto;
    border-radius: 100px;
    font-size: 16px;
    z-index: 2;
  }

  .last .material-icons {
    font-size: 20px;
    color: #F9665A;
  }

  .last figure {
    width: 80vw;
    position: absolute;
    top: 3vw;
    right: -24vw;
    z-index: 1;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 12vw 9vw;
  background-color: #272729;
}

footer .appstore{
  margin-top: 20px;
  width: 9vw;
}

footer ul li {
  display: flex;
}

footer .footer-info {
  margin-top: 1vw;
  width: 50%;
}

.footer-info h3,
.footer-info p,
.footer-info a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 200;
  opacity: 0.9;
}

.footer-info li + li{
  margin-top: 20px;
}

.footer-info h3 {
  width: 150px;
}

.footer-info a {
  margin-right: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  footer {
    display: block;
    justify-content: space-between;
    padding: 80px 6vw 100px;
  }

  footer .logo_wrapper {
    display: flex;
    justify-content:space-between;
  }

  footer .appstore {
    margin-top: -3px;
    margin-left: 10.6vw;
    width: 120px;
  }

  footer .appstore img {
    width: 100%;
  }

  footer .footer-info {
    margin-top: 40px;
    width: 100%;
  }
}
